<html>
    <head>
       <title>Mi primera pagina web</title>
       <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
    </head>
    <body>
<h1>Hola Mundo</h1>
<a href="{{ url_for('inicio') }}">Inicio</a>
<a href="{{ url_for('contacto') }}">Contacto</a>
<h2>Mi nombre es Karen</h2> 
<h3>Y estoy en Penguin para aprender a programar</h3>

<img src="static/perrito.jpg" alt="perrito con lentes" width="300" height="400">

    </body>
<html>





            